*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial, sans-serif;
  background:#f8f8f8;
  color:#111;
}

.container{
  width:90%;
  max-width:1100px;
  margin:auto;
}

img{
  width:100%;
  display:block;
}

a{
  text-decoration:none;
}

ul{
  list-style:none;
}